{% extends 'base.html' %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center flex-column" style="height: 100vh; max-width: 100vw; gap: 20px;">
    <div class="start_block game_block_size d-flex flex-column justify-content-between align-items-center">
        <div class="d-flex align-items-center justify-content-center flex-column" id="grid"></div>
    </div>
    <div class="keyboard container align-items-center">
        <div class="line_keys gap-2 row align-items-center justify-content-center">
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">Й</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">Ц</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">У</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">К</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">Е</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">Н</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">Г</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">Ш</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">Щ</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">З</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">Х</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">Ъ</div></div>
        </div>
        <div class="line_keys gap-2 row align-items-center justify-content-center">
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">Ф</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">Ы</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">В</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">А</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">П</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">Р</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">О</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">Л</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">Д</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">Ж</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">Э</div></div>
        </div>
        <div class="line_keys gap-2 row align-items-center justify-content-center">
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">Я</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">Ч</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">С</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">М</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">И</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">Т</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">Ь</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">Б</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn" onclick="add_key(this.textContent)">Ю</div></div>
            <div class="col d-flex justify-content-center" style="padding: 0;"><div class="button_style keyboard_btn_del" onclick="remove_key()">=Стереть=</div></div>
        </div>
        <div class="line_keys gap-2 row align-items-center justify-content-center">
            <div class="col d-flex justify-content-center" style="padding: 0;"><button class="btn button_style" style="width: 90%;" onclick="check_word()">Проверить слово</button></div>
        </div>
    </div>
</div>
<script>
    let grid = document.getElementById('grid')
    let url = new URL(window.location.href);
    let num = 0;
    let main_word = ''
    try{
        let word = url.searchParams.get("word");
        if (word != null){
            main_word = decrypt(decodeURI(word));
            num = main_word.length;
        }
        else{
            main_word = '{{ secure_word }}'
            num = main_word.length;
        }
    }
    catch(e){
        console.log(e)
        main_word = '{{ secure_word }}'
        num = main_word.length;
    }
    
    let content = ''
    for(let i = 0; i < num; i++){
        content += '<div class="letter letter_size grd"></div>'
    }
    for (let i = 0; i < num+1; i++){
        grid.insertAdjacentHTML('afterbegin', `<div class="d-flex align-items-center justify-content-center">${content}</div>`)
    }

    function decrypt(str){
        str = str.replaceAll(' ', '+')
        let res = CryptoJS.AES.decrypt(str, "Secret Passphrase").toString(CryptoJS.enc.Utf8)
        return res
    }





    let dict_word = new Object();
    let current_level = 0;
    for (let i = 0; i < main_word.length + 1; i++){
        dict_word[i] = '';
    }

    function add_key(text){
        if (dict_word[current_level].length < main_word.length){
            dict_word[current_level] = dict_word[current_level] + text;
            update_game_grid(method='add');
        }
    }
    function remove_key(){
        if (dict_word[current_level].length != 0){
            dict_word[current_level] = dict_word[current_level].substring(0, dict_word[current_level].length - 1);
            update_game_grid(method='rem');
        }
    }
    function check_word(){
        if (dict_word[current_level].length === 5 && current_level < main_word.length + 1){
            let grid_letters = document.getElementsByClassName('letter')
            let level_word = ''
            for (let i = 0; i < main_word.length; i++){
                level_word += grid_letters[i + current_level * main_word.length].textContent
            }
            if (main_word == level_word){
                // end game победа

                return;
            }
            else{
                for(let i = 0; i < main_word.length; i++){
                    if (main_word.toUpperCase().indexOf(level_word[i]) == -1){
                        change_key_color('#aaaaaa', level_word[i])
                    }
                    if (main_word.toUpperCase().indexOf(level_word[i]) >= 0){
                        grid_letters[i + current_level * main_word.length].style.backgroundColor = '#f0d283';
                        change_key_color('#f0d283', level_word[i])
                    }
                    if (level_word[i] == main_word[i].toUpperCase()){
                        grid_letters[i + current_level * main_word.length].style.backgroundColor = '#588157';
                        change_key_color('#588157', level_word[i])
                    }
                }
                current_level += 1;
            }
        }
        if (current_level > main_word.length){
            // end game проигрыш

            return;
        }
    }

    function update_game_grid(method){
        let grid_letters = document.getElementsByClassName('letter')
        if (method == 'add'){
            for (let i = 0; i < dict_word[current_level].length; i++){
                grid_letters[i + current_level * main_word.length].innerHTML = dict_word[current_level][i];
            }
        }
        else if (method == 'rem') {
            grid_letters[dict_word[current_level].length + current_level * main_word.length].innerHTML = '';
        }
    }

    function change_key_color(color, key){
        let keys = document.getElementsByClassName('keyboard_btn');
        for(let i = 0; i < keys.length; i++){
            if (keys[i].textContent == key){
                keys[i].style.backgroundColor = color;
            }
        }
    }
</script>
{% endblock %}