{% extends 'base.html' %}

{% block body %}
<div class="d-flex justify-content-center align-items-center flex-column" style="height: 100vh; max-width: 100vw; gap: 20px;">
    <h1>WORDLE</h1>
    <div class="d-flex flex-column justify-content-center align-items-center start_block start_block_size">
        <button class="btn btn-lg button_style menu_button_size" onclick="window.location.href = '/game'">Начать игру</button>
        <button class="btn btn-lg button_style menu_button_size" onclick="showModal()">Загадать слово</button>
        <button class="btn btn-lg button_style menu_button_size" onclick="window.location.href = '/rules'">Правила игры</button>
        <button class="btn btn-lg button_style menu_button_size" onclick="window.location.href = '/settings'">Настройки</button>

        <div id="gfg" class="modal fade" tabindex="-1" data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content dialog_color">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_title">
                            Загадайте слово от 3 до 5 букв
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modal_body">
                        <form>
                            <div class="mb-3">
                              <input type="text" pattern="[А-Яа-я]{3-5}" required class="word_input" id="word" placeholder="Ваше слово" maxlength="5" minlength="3">
                              <label class="attension" id="attension"></label>
                            </div>
                        </form>
                        <button class="btn button_style" style="width: 100%" onclick="check_word()" id="create_word">Загадать слово</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <script>
        let modal = new bootstrap.Modal(document.getElementById('gfg'));
        let modal_body = document.getElementById('modal_body');
        function showModal() {
            if(!document.getElementById('create_word'))
            {
                let elem = document.getElementById('copy_word');
                elem.parentNode.removeChild(elem);
                modal_body.insertAdjacentHTML('beforeend', '<button class="btn button_style" style="width: 100%" onclick="check_word()" id="create_word">Загадать слово</button>');
            }

            document.getElementById('modal_title').textContent = 'Загадайте слово от 3 до 5 букв';
            document.getElementById('word').value = '';
            document.getElementById('attension').textContent = '';
            modal.show();
        }

        function check_word(){
            let wrd = document.getElementById('word');
            if (wrd.value.length < 3 || wrd.value.length > 5){
                document.getElementById('attension').textContent = 'Недостаточно букв в слове';
            }
            else{
                document.getElementById('attension').textContent = '';
                document.getElementById('modal_title').textContent = 'Поделиться словом с другом';
                let elem = document.getElementById('create_word');
                elem.parentNode.removeChild(elem);
                wrd.value = window.location.href + '/game?word=' + encodeURI(encrypt(wrd.value))
                modal_body.insertAdjacentHTML('beforeend', '<button class="btn button_style" style="width: 100%" onclick="copy_word()" id="copy_word"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16" style="color: black;"><path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/></svg>    Копировать ссыклу</button>')
            }
        }

        function copy_word(){
            let copy = document.getElementById('word');
            copy.focus();
            copy.select();
            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'successful' : 'unsuccessful';
                console.log('Copying text command was ' + msg);
            } catch (err) {
                console.log('Oops, unable to copy');
            }
        }

        function encrypt(str){
            return CryptoJS.AES.encrypt(str, "Secret Passphrase").toString();
        }
    </script>
{% endblock %}


